#![enable(implicit_some)]
(
    ui_info : (
        display_name : "Developer Level",
        thumbnail : "",
        description : "Sandbox Map"
    ),
    base : "multiplayer_test_map",
    bounds : (195.0, 395.0),
    box_collider : (1000.0, 1.0, 1000.0),
)