#![enable(implicit_some)]
(
    // ui_info : (
    //     display_name : "Developer Level",
    //     thumbnail : "",
    //     description : "Sandbox Map"
    // ),
    // base : "multiplayer_test_map",
    bounds: ((195.0, 395.0)),
    collider_string: "GAAAAAAAAAAAAMhC//8ftQAASEMAAMhC//8ftQAASEMAAMhC//8ftQAASEMAAMhC//8ftQAASMMAAMhC//8ftQAASMMAAMhC//8ftQAASMMAAMjC//8ftQAASMMAAMjC//8ftQAASMMAAMjC//8ftQAASMMAAMjC//8ftQAASEMAAMjC//8ftQAASEMAAMjC//8ftQAASEMAAMhCBgCAvwAASEMAAMhCBgCAvwAASEMAAMhCBgCAvwAASEMAAMhCBgCAvwAASMMAAMhCBgCAvwAASMMAAMhCBgCAvwAASMMAAMjCBgCAvwAASMMAAMjCBgCAvwAASMMAAMjCBgCAvwAASMMAAMjCBgCAvwAASEMAAMjCBgCAvwAASEMAAMjCBgCAvwAASEMMAAAAAAAAAAEAAAAEAAAACAAAAAEAAAAIAAAACwAAAAMAAAAQAAAAFAAAAAMAAAAUAAAABwAAAAYAAAASAAAAFQAAAAYAAAAVAAAACQAAAAoAAAAXAAAADQAAAAoAAAANAAAAAAAAAAIAAAAOAAAAEQAAAAIAAAARAAAABQAAABMAAAAPAAAADAAAABMAAAAMAAAAFgAAAA=="
    // box_collider : (1000.0, 1.0, 1000.0),
)