(
    offset_y: (0.5, 1.0),
    offset_z: (0.65, 1.0),
    curve_power: (1.5, 1.5),

    max_rotation_speed: 5.0,
    rotation_acceleration: 3.,
    rotation_deceleration: 15.,
    slow_rotation_multiplier: 0.125,
    rotation_acceleration_curve: 2.,

    thresholds: (0.94, 0.9),
    max_scroll_speed: 30.,
    scroll_acceleration: 3.0,
    scroll_deceleration: 15.,
    fast_decceleration_threshold: 100.,
    fast_decceleration_strength: 1.0,
    slow_scroll_multiplier: 0.125,
    scroll_acceleration_curve: 2.,
    use_scroll_button: true,
    scroll_button_speed_multiplier: 0.5,
    post_action_stall: true,


    max_zoom_speed: 1.8,
    zoom_acceleration: 3.0,
    zoom_deceleration: 15.0,
    slow_zoom_multiplier: 0.125,
    zoom_acceleration_curve: 2.0,
    min_zoom: 60.,
    max_zoom: 120.,
    default_zoom: 0.8,
    zoom_base: 10,
    zoom_ratio: 5,
    zoom_curve_weight: 0.25,

    minimum_fps_for_deltatime: 20,
)