#![enable(implicit_some)]
(
    stack: (
        Structures,
        (
            object: Barracks,
            time_to_build: Duration (
                secs : 10,
                nanos : 0,
            ),
            cost: 500,
            buffered: true,
        )
    ),
    health : (
        max_health : 3000,
        health : 3000,
        resistance : 0.0,
        resistances : (
            kinetic : 0.5,
            fire : -1.0,
            explosive : -1.0,
            laser : 0.5,
            shock : 0.5,
        ),
        dense: true,
    ),
    asset_queues: (
        objects: [
            MarineSquad,
        ],
    ),
    collider_string: "GAAAAAAAAAACACBBwMzMvQAAIEECACBBwMzMvQAAIEECACBBwMzMvQAAIEEAACBBwMzMvQIAIMEAACBBwMzMvQIAIMEAACBBwMzMvQIAIMEAACBBZmY+QQIAIMEAACBBZmY+QQIAIMEAACBBZmY+QQIAIMEAACDBwMzMvQIAIEEAACDBwMzMvQIAIEEAACDBwMzMvQIAIEECACBBZmY+QQAAIEECACBBZmY+QQAAIEECACBBZmY+QQAAIEECACDBwMzMvQAAIMECACDBwMzMvQAAIMECACDBwMzMvQAAIMECACDBZmY+QQAAIMECACDBZmY+QQAAIMECACDBZmY+QQAAIMEAACDBZmY+QQIAIEEAACDBZmY+QQIAIEEAACDBZmY+QQIAIEEMAAAAAAAAABMAAAAGAAAAAwAAABMAAAADAAAAEAAAAAwAAAAHAAAAFAAAAAwAAAAUAAAAFgAAABUAAAASAAAADwAAABUAAAAPAAAACQAAABEAAAAEAAAAAAAAABEAAAAAAAAACgAAAAUAAAAIAAAADgAAAAUAAAAOAAAAAgAAAAEAAAANAAAAFwAAAAEAAAAXAAAACwAAAA=="
)