#![enable(implicit_some)]
(
    stack: (
        Structures,
        (
            object: Factory,
            time_to_build: Duration (
                secs: 20,
                nanos: 0,
            ),
            cost: 1000,
            buffered: true,
        )
    ),
    health: (
        max_health: 5000,
        health: 5000,
        resistance: 0.0,
        resistances: (
            kinetic: 0.0,
            fire: -1.0,
            explosive: -1.0,
            laser: 0.5,
            shock: 0.5,
        ),
        dense: true,
    ),
    asset_queues: (
        objects: [
            TankBase,
        ],
    ),
    collider_string: "GAAAAAAAAAACACBBwMzMvQAAIEECACBBwMzMvQAAIEECACBBwMzMvQAAIEEAACBBwMzMvQIAIMEAACBBwMzMvQIAIMEAACBBwMzMvQIAIMEAACBBZmY+QQIAIMEAACBBZmY+QQIAIMEAACBBZmY+QQIAIMEAACDBwMzMvQIAIEEAACDBwMzMvQIAIEEAACDBwMzMvQIAIEECACBBZmY+QQAAIEECACBBZmY+QQAAIEECACBBZmY+QQAAIEECACDBwMzMvQAAIMECACDBwMzMvQAAIMECACDBwMzMvQAAIMECACDBZmY+QQAAIMECACDBZmY+QQAAIMECACDBZmY+QQAAIMEAACDBZmY+QQIAIEEAACDBZmY+QQIAIEEAACDBZmY+QQIAIEEMAAAAAAAAABMAAAAGAAAAAwAAABMAAAADAAAAEAAAAAwAAAAHAAAAFAAAAAwAAAAUAAAAFgAAABUAAAASAAAADwAAABUAAAAPAAAACQAAABEAAAAEAAAAAAAAABEAAAAAAAAACgAAAAUAAAAIAAAADgAAAAUAAAAOAAAAAgAAAAEAAAANAAAAFwAAAAEAAAAXAAAACwAAAA=="
)