#![enable(implicit_some)]
(
    collider_string: "GAAAAAAAAADg/P/AAAAAwAAAgEDg/P/AAAAAwAAAgEDg/P/AAAAAwAAAgEDg/P/AAAAAQAAAgEDg/P/AAAAAQAAAgEDg/P/AAAAAQAAAgEDg/P/AAAAAwAAAgMDg/P/AAAAAwAAAgMDg/P/AAAAAwAAAgMDg/P/AAAAAQAAAgMDg/P/AAAAAQAAAgMDg/P/AAAAAQAAAgMCQAQBBAAAAwAAAgECQAQBBAAAAwAAAgECQAQBBAAAAwAAAgECQAQBBAAAAQAAAgECQAQBBAAAAQAAAgECQAQBBAAAAQAAAgECQAQBBAAAAwAAAgMCQAQBBAAAAwAAAgMCQAQBBAAAAwAAAgMCQAQBBAAAAQAAAgMCQAQBBAAAAQAAAgMCQAQBBAAAAQAAAgMAMAAAAAAAAAAcAAAASAAAADAAAAAcAAAAMAAAAAQAAABYAAAALAAAABQAAABYAAAAFAAAAEAAAAAoAAAAVAAAAEwAAAAoAAAATAAAACAAAAA0AAAAPAAAABAAAAA0AAAAEAAAAAgAAAAMAAAAJAAAABgAAAAMAAAAGAAAAAAAAABQAAAAXAAAAEQAAABQAAAARAAAADgAAAA=="
)